<div class='os-content'>
  <nav class='mt-2'>
    <ul class='nav nav-flat nav-sidebar flex-column' data-widget='treeview' role='menu' data-accordion='false'>
      <li class='nav-item has-treeview menu-open'>
        <%= link_to root_path, class: 'nav-link' do %>
          <%= fa_icon 'thumb-tack', class: 'nav-icon' %>
          <p>
            <%= t('.generate!') %>
          </p>
        <% end %>
      </li>
    </ul>
  </nav>
</div>
